body{
  background-color: black;
}


h1{
  color: #e8e0cc;
  margin-left: 50%;
  margin-top: 5%;
  font-family: monaco;
}

div{
  border: 1px solid white;
  float:left;
  height:100px;
  width: 30%;
  margin-top: 300px;
  margin-left: 150px;
  z-index: 1;
  font-weight: 100;
  position: absolute;
}

.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
button{
  font-size: 30px;
  border-color: white;
  border-radius: 0px;
  background-color: #e8e0cc;
  padding: 2%;
  height: 150px;
  width: 20%;
  margin-left: 20%;
  margin-top: 10%;
  float: left;
}

button:hover{
  color: white;
  border: 1px solid white;
  pointer-events: visiblePainted;
}
