body{
  background-color: black;
}


h1{
  color: #e8e0cc;
  margin-left: 35%;
  margin-top: 5%;
  font-family: monaco;
}

h2{
  color: #e8e0cc;
  text-align: center;
  margin-top: 10%;
  font-family: monaco;
}
section.counterSection{
  width: 100%;
  height: 200px;
  margin-top: 30px;
}

div{
  border: 1px solid white;
  height:100px;
  width: 20%;
  /* margin-top: 300px;
  margin-left: 50px; */
  font-weight: 100;
  /* position: absolute; */
}

.container{
  margin: 0 auto;

}
button{
  font-size: 30px;
  border-color: white;
  border-radius: 0px;
  background-color: #e8e0cc;
  padding: 2%;
  height: 150px;
  width: 20%;
  margin-left: 22%;
  float: left;
}

button:hover{
  color: white;
  border: 1px solid white;
  pointer-events: visiblePainted;
}
