body{
  background-color: #14120b;
  width: 90%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-lines: center;
}

section{
  border: 1px solid white;
  float:left;
  height:100px;
  width: 30%;
  margin-top: 300px;
  margin-left: 150px;
}

div{
  float: left;
  height: 50px;
  width: 25px;
  color: white;
  font-weight: bold;
  font-family: monaco;
  margin-left: 120px;
  margin-top: 40px;
}
